@inherits LayoutComponentBase

<PageTitle>QuestionBox</PageTitle>

<div class="page " style="background-image: url('../wwwroot/background.png')">


    <main>
        <div class="top-row px-4 auth">
            <a class="navbar-brand" href="">QuestionBox</a>
            <LoginDisplay />
        </div>
        <div class="bg-local h-screen mt-0 flex">
            <div class="mx-auto w-11/12 md:w-2/6 h-full" >
                @Body
            </div>
        </div>
    </main>
</div>
